@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  padding-top: 52px;
}

body {
  background: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
}

section {
  margin: 30px 20%;
}

h2 {
  margin: 55px 0px 20px 0px;
}

h3 {
  margin: 30px 0px 10px 0px;
}

p {
  font-size: 18px;
  margin: 30px 0px 15px 0px;
}

pre {
  padding: 10px;
  font-size: 1.4em;
  margin: 10px 0px;
  background: white;
  border-radius: 4px;
  margin-bottom: 40px;
  border: 1px solid #e6e6e6;
  border-bottom: 3px solid #ababab;
}

code {
  background: white !important;
}
