.hero {
  display: flex;
  height: 420px;
  background: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid #e6e6e6;

  > span {
    top: 10px;
    left: 16px;
    color: #367cf1;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
  }

  h1 {
    margin: 0px;
    font-size: 75px;
    font-weight: normal;

    span {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      padding: 5px 5px;
      margin: 0px 0px 0px 10px;
      background: #ffd10b;
      font-size: 70px;
      font-weight: bold;
      border-radius: 5px;
      border-bottom: 2px solid black
    }
  }

  h2 {
    margin: 0px;
    color: #989898;
    margin-top: 8px;
    font-weight: normal;
  }

  iframe {
    width: 120px;
    margin-top: 60px;
  }
}
