@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  padding-top: 52px;
}

body {
  background: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
}
